.App {
  width: auto;
  height: 100%;
  margin: 0;
  
}

.header{
  background-color: aquamarine;
  padding: 20px;
}

.count_items , .icon,.count_button {
  margin: 0 20px 0;
  float: left;
}
.container_btns{
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
}
Button{
  background-color: rgb(233, 29, 29);
  margin-right: 10px;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
